.container{
    width: 48px;
    height: 24px;
    border: 2px solid #5166ab;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.icon{
    font-size: 12px;
}

.ball{
    width: 18px;
    height: 18px;
    background-color: #5166ab;
    border-radius: 50%;
    position: absolute;
}